
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/url_list.css' %}">
    <title>Test task</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/ajax_request.js' %}"></script>
</head>
<body>

<h1>URL list</h1>

<div id="url_info">
    {% include "url/url_list.html" %}
</div>


<br>

<label for="interval">Choose check interval:</label>
  <select name="interval" id="interval">
    <option value="3000">3 sec (default)</option>
    <option value="5000">5 sec</option>
    <option value="10000">10 sec</option>
  </select>


</body>
</html>